/* Claro: Estilo general */
QWidget {
    background-color: #dbdbdb;
    color: #484848;
}

QLineEdit, QTextEdit, QPlainTextEdit {
    background-color: #dbdbdb;
    color: #4d4d4d;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
}

QComboBox {
    background-color: #f7f7f7;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px 5px 5px 7px;
    min-height: 22px;
}

QCheckBox::indicator {
    width: 15px;
    height: 15px;
}

QCheckBox::indicator:unchecked {
    border: 1px solid #cccccc;
    background-color: #f7f7f7;
    border-radius: 3px;
}

QCheckBox::indicator:checked {
    border: 1px solid #cccccc;
    background-color: #66ccff;
    border-radius: 3px;
}

QStatusBar {
    background-color: #f7f7f7;
    color: #333333;
}

QSplitter::handle {
    background-color: #f7f7f7;
}

QSplitter::handle:horizontal {
    width: 1px;
}

QSplitter::handle:vertical {
    height: 1px;
}

QProgressBar {
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    text-align: center;
    color: #333333;
}

QProgressBar::chunk {
    background-color: #ff9466;
    width: 1px;
}